.inGame {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inGameMenu {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.exitMenu {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.exitMenu > button {
    color: white;
    width: 30vh;
    height: 5vh;
    border-radius: 15px;
    background-color: red;
}

.objectives {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.objectivesButton {
    width: 30vh;
    height: 5vh;
    border-radius: 15px;
}

.inGameFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inGameFooter > button {
    width: 30vh;
    height: 5vh;
    border-radius: 15px;
}