.inGame {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inGameMenu {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.exitMenu {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.exitMenu > button {
    color: white;
    width: 30vh;
    height: 5vh;
    border-radius: 15px;
    background-color: red;
}

.objectives {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.objectivesButton {
    width: 30vh;
    height: 5vh;
    border-radius: 15px;
}

.timer {
    color: white;
    text-shadow: 0 0 10px white,
    0 0 20px white;
}

.timerEnd {
    color: red;
    text-shadow: 0 0 20px red, 0 0 40px red;
    animation: flashing 0.5s infinite alternate;
  }
  
  @keyframes flashing {
    100% {
      opacity: 1;
    }
    0% {
      opacity: 0;
    }
  }
  
  /* @keyframes glowing {
    0% {
      text-shadow: 0 0 10px red, 0 0 20px red;
    }
    100% {
      text-shadow: 0 0 15px red, 0 0 25px red;
    }
  } */

.inGameFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inGameFooter > button {
    width: 30vh;
    height: 5vh;
    border-radius: 15px;
}