.newGame {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.roomList {
  height: 600px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.roomList::-webkit-scrollbar {
  display: none;
}

.room {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

.room > h1 {
  text-shadow: 0 0 10px antiquewhite, 0 0 20px antiquewhite;
}

.roomImg {
  height: 25vh;
  width: 37vh;
  border-radius: 15px;
  box-shadow: 0 0 10px black, 0 0 20px black, 0 0 40px black;
  transition: 0.1s ease-in;
}

.roomDescriptionBox {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  height: 20vh;
  width: 37vh;
  overflow: hidden;
  position: relative;
}

/* Add gradient overlays to the top and bottom */
.roomDescriptionBox::before,
.roomDescriptionBox::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 30%;
  z-index: 2;
}

.roomDescriptionBox::before {
  top: 0px;
  background: linear-gradient(#121212, rgba(0, 0, 0, 0));
}

.roomDescriptionBox::after {
  bottom: 0px;
  background: linear-gradient(rgba(0, 0, 0, 0), #121212);
}


.roomDescription {
  width: 37vh;
  position: relative;
  text-shadow: 0 0 5px antiquewhite;
}


.room:active {
  box-shadow: 0 0 10px antiquewhite, 0 0 20px antiquewhite,
    0 0 40px antiquewhite;
  transition: 0.1s ease-in;
}

.roomMenuButtonContainer {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roomMenuButton {
  height: 50px;
  width: 100px;
  font-size: x-large;
  box-shadow: 0 0 10px antiquewhite, 0 0 20px antiquewhite;
  border-radius: 37px;
}

@keyframes scroll {
  0% {
    transform: translateY(80%); /* Start from below the div */
  }
  100% {
    transform: translateY(-110%); /* Scroll to the top */
  }
}